<h1>Text to image</h1>

<h2>Deploy Angular App in firebase</h2>
<hr>
<!-------------------------------------------------->
<p>create Angular blank project</p>
<!-- ng new my-Project -->

<p>Open Firebase console and setup new project</p>

<p>Install Firebase Cli</p>
<!-- npm install -g firebase-tools -->

<p>Firebase Login</p>
<!-- firebase login -->

<p>Initiate your project in root directory</p>
<!-- firebase init -->
<!-- ? Are you ready to proceed? yes -->
<!-- Hosting: Configure files for Firebase Hosting and (optionally) set up GitHub Action deploys -->
<!-- Use an existing project -->
<!-- my-todo-aafaa (my-todo) -->
<!-- ? What do you want to use as your public directory? dist/My-todo -->
<!-- ? Configure as a single-page app (rewrite all urls to /index.html)? (y/N) Y -->
<!-- ? Set up automatic builds and deploys with GitHub? (y/N) N -->

<p>After Build Your Project</p>
<!-- ng build -->

<p>Deploy Angular App in Firebase</p>
<!-- firebase deploy -->



<br><br><br>
<!------------------------------------------------------------------------------------------------------------------
									                            Deploy With Github Action
------------------------------------------------------------------------------------------------------------------->
<h2>Deploy With Github Action</h2>


firebase init

Hosting: set up Github Action deploy
Authorize Firebase CLI (in browser)

? For which GitHub repository would you like to set up a GitHub workflow? (format: user/repository)
Haresh-thumar/Angular-16-Firebase-Test

? Set up the workflow to run a build script before every deploy? (y/N) Y

? What script should be run before every deploy? (npm ci && npm run build) Enter Press

? Set up automatic deployment to your site's live channel when a PR is merged? (Y/n) Y

? What is the name of the GitHub branch associated with your site's live channel? (main) Enter press